<div class="container" >
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="evento">Clientes:</h2>
		</div>

		{{# each data.clientes.results}}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<div class="panel panel-primary">
			<div class="panel-heading">Cliente: {{{nome.full}}}</div>
			<div class="panel-body">
				<p>CPF: {{{CPF}}}</p>
				<p>Email: {{{email}}}</p>
				<p>Telefone: {{{telefone}}}</p>
				<p>Data de Nascimento: {{formatTime nacimento "MM-DD-YYYY"}}</p>
			</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{>pagination}}
</div>

