<div class="container" >
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div>
				<h2>Categorias:</h2>
				<div style="margin-top: 15px;" class="list-group ">
					<a href="/parcblog" class="caption list-group-item">Todas as Categorias</a>
						{{# each data.categories }}
						<a href="{{parcCategoryUrl key}}" class="false list-group-item">{{name}}</a>
						{{/each}}
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h2 class="evento">Parceiros:</h2>
		</div>

		{{# each data.parcs.results}}
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<div class="thumbnail">
				<div class="caption list-group-item">
					<h3>{{{title}}}</h3>
				</div>
				{{#if image}}<img src="{{{cloudinaryUrl image}}}">{{/if}}
				<div class="cardbottom">
					<h3>{{{content.brief}}}</h3>
					<h4>{{{content.extended}}}</h4>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{>parcpagination}}
</div>

<!--div class="container" >
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-4 col-lg-2">
			<div>
				<h2>Categorias:</h2>
				<div style="margin-top: 30px;" class="list-group">
					<a href="/parcblog" class="active list-group-item">Todas as Categorias</a>
						{{# each data.categories }}
						<a href="{{parcCategoryUrl key}}" class="false list-group-item">{{name}}</a>
						{{/each}}
				</div>
			</div>
		</div>


		<div class="col-sm-12 col-xs-12 col-md-8 col-lg-10">
			<div class="container">
				<h1 class="evento">Parceiros:</h1>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-8 col-lg-10">
			<h4 class="text-weight-normal">Total de {{ data.parcs.results.length}} parceiros.</h4>
			<div class="blog">
				{{# each data.parcs.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="parc">
					<h2><a href="{{parcUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Publicado em "}}}
						{{#if author.name.first}}pelo usuário {{author.name.first}}{{/if}}
					</p>
						{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
						{{#if content.extended}}<p class="read-more"><a href="{{parcUrl slug}}">Veja mais detalhes.</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>parcpagination}}
</div-->
