<div class="container" >
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="categoria">
				<h2>Categorias:</h2>
				<div style="margin-top: 15px;" class="list-group ">
					<a href="/servico" class="caption list-group-item">Todas as Categorias</a>
						{{# each data.categorias }}
						<a href="{{servicoCategoryUrl key}}" class="false list-group-item">{{name}}</a>
						{{/each}}
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h2 class="evento">Serviços:</h2>
				<div class="row display-flex">
				{{# each data.servicos.results}}
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="logo">
							<div class="caption list-group-item">
								<h3>{{{title}}}</h3>
							</div>
							{{#if image}}<img src="{{{cloudinaryUrl image}}}">{{/if}}
							<div class="cardbottom">
								<h3>{{{content.brief}}}</h3>
								<h4>{{{content.extended}}}</h4>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>servicopagination}}
</div>

